<a href="https://colab.research.google.com/github/sanjeevtrivedi/pgd-aids/blob/main/Intro_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import time as time

n = 100
A = np.random.rand(n, n)

start = time.time()

s1 = 0
for i in range(n):
  for j in range(n):
    s1 = s1 + A[i, j]

end = time.time()
print(end - start)
print(s1)

start = time.time()
s2 = A.sum()
print(s2)

end = time.time()
print(end - start)

0.004616975784301758
4938.000494036907
4938.000494036897
0.00019741058349609375

In [ ]:
name = input("What is you name?\n")

print("Hello " + name)
print(type(name))

What is you name?
Sanjeev
Hello Sanjeev
<class 'str'>

In [ ]:
name = 'sanjeev'
age = 10
workingProfessional = True
with open('tmpfile.txt', 'w') as file:
  file.write(str(age) + '\n')
  file.write(str(name) + '\n')
  file.write(str(workingProfessional) + '\n')

In [ ]:
with open('tmpfile.txt', 'r') as file:
  for line in file:
    print(line.strip())

10
sanjeev
True

In [ ]:
name = 'Sanjeev Trivedi'
length = len(name)
print(length)

a = [1, 2, 3, 4, 5]
print(a[0 : 3])
print(a[-3])
print(a[-3 : -1])

15
[1, 2, 3]
3
[3, 4]

In [ ]:
a = {1, "sanjeev", 100, True}
list(a)

# These expressions evaluate to True
True == 1
int(True) == 1
hash(True) == hash(1)

True

In [ ]:
iop = {
    "instructors": [{"Name": "Prof. Abir",
                     "Age" : 30,
                     "Profession": "teaching 1"}
                    ,
                    {"Name": "Prof. Vinay",
                     "Age" : 20,
                     "Profession": "teaching 2"
                     }]
    ,
    "TAs": [{"Name": "Ninad",
             "Age": 20,
             "Profession": "student"}
            ,
            {
            "Name": "Naveen",
             "Age": 22,
             "Profession": "research"
            }]
}

ins_name = [instructors["Name"] for instructors in iop["instructors"]]
print(ins_name)

ins_name2 = list(map(lambda x: x["Name"], iop["instructors"]))
print(ins_name2)

['Prof. Abir', 'Prof. Vinay']

In [ ]:
iop = {
    "instructors": [{"Name": "Prof. Abir",
                     "Age" : 30,
                     "Profession": "teaching 1",
                     "Hobby" : "trecking"
                     }
                    ,
                    {"Name": "Prof. Vinay",
                     "Age" : 20,
                     "Profession": "teaching 2",
                     "Hobby" : "trecking"
                     }]
    ,
    "TAs": [{"Name": "Ninad",
             "Age": 20,
             "Profession": "student"
             }
            ,
            {
            "Name": "Naveen",
             "Age": 22,
             "Profession": "research",
             "Hobby" : "reading"
            }]
}

ins_name = [instructors["Name"] for instructors in iop["instructors"]]
print(ins_name)

ins_name = list(map(lambda x: x["Name"], iop["TAs"]))
print(ins_name)

#Better to use 'get' on dictnary
ins_name = list(map(lambda x: x.get("Name"), iop["TAs"]))
print(ins_name)

# Using filter to exclude entries where "Hobby" is None
ins_name = list( map(lambda x: x.get("Hobby"), (filter(lambda x: x.get("Hobby") is not None, iop["TAs"]))) )
print(ins_name)

# Using map to get the "Hobby" values, including None for missing keys
ins_name = list(map(lambda x: x.get("Hobby"), iop["TAs"]))
print(ins_name)

print("----------------------")

print(iop.keys())
arr_ins = iop.get('instructors')[0]
print(arr_ins)
print(arr_ins.get('Name'))

print("----------------------")

# New Section