<a href="https://colab.research.google.com/github/sanjeevtrivedi/pgd-aids/blob/main/Lecture2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to the 'Python Programming Language'!
This unit is an introduction to the most basic concepts and features of the Python programming language
It covers : Variables, the basic Data Types, basic mathematical operations

In addition, this unit also covers basic i/o operations
such as interactive input, print, and file I/O

In [ ]:
import numpy as np
a = np.array([[1,2],
              [4,5],
              [7,8],
              [10,11]])
print(a.sum(axis=1))

[ 3  9 15 21]

In [ ]:
# BTW, in a Python program any sequence after a '#' is a comment (like this line)
#   and it is ignored during program execution!!

''' Talking about comments ... multiple line comments can be written within triple quotes
as shown here
'''
''' hello '''

' hello '

In [ ]:
import time as time
import numpy as np

n=1000

A = np.random.rand(n,n)

tStart = time.time()
a = A.sum()
tEnd = time.time()


print(tEnd-tStart)

0.001466512680053711

# What is a variable?
Variables in Python (... or, in any programming language) are 'containers', that are used to store data.
Variables are given names, which are known as identifiers.
So, what, really, are variables, and what are identifiers?

In Python an identifier can consist of:
- Upper and lowercase letters of the alphabet, underscores, and digits 0 to 9.

In [ ]:
tStart = time.time()

s= 0
for i in range(n):
  for j in range(n):
    A[i,j] = A[i,j] +s
tEnd = time.time()

print(tEnd-tStart)

0.5037224292755127

In [ ]:
import numpy as np

A = np.random.rand(100,100)

In [ ]:
# Examples of variables / identifiers
# Variables can be of various 'types' as enumerated below and further explained later

v1 = "the first variable of this course!"   # string
v2 = 2023.8                                 # float
v3 = True                                   # boolean
v4 = [1,2,3,4,5]                            # list
v5 = (1,2,3,4,5)                            # tuple
v6 = {"name": "Aditi", "age": 25}           # dictionary
v7 = {1,2,3,4,5}                            # set
v8 = 3                                      # int i.e. integer
v9 = 0b1010                                 # binary ... essentially an int
v10 = 0o17                                  # octal ... essentially an int
v11 = 0x1F                                  # hexadecimal ...  essentially an int
v12 = None                                  # None

In [ ]:
v1 = "the first variable of this course!"   # string
v1 =  5.2
v4 = [9,6, 1, 4, 2, 0, 100]
v4.append(6)
# print(v4)
print(v4[3])

4

In [ ]:
v6 = {"name":"Abir", "age": 100, "profession": "teaching"}
v6["name"]
v6["age"]


instructorsOfProgramming = {
  "instructors": [
      {"name":"Abir", "age": 100, "profession": "teaching"},
      {"name":"Vinay", "age": 100, "profession": "teaching"}
  ],
  "TAs": [
      {"name":"Ninad", "age": 20, "profession": "student"},
      {"name":"Harsha", "age": 20, "profession": "research", "hobby": "reading"}
  ]
}

In [ ]:
instructorsOfProgramming = {
  "instructors": [
      {"name":"Abir", "age": 100, "profession": "teaching"},
      {"name":"Vinay", "age": 100, "profession": "teaching"}
  ],
  "TAs": [
      {"name":"Ninad", "age": 20, "profession": "student"},
      {"name":"Harsha", "age": 20, "profession": "research", "hobby": "reading"}
  ]
}

instructors = instructorsOfProgramming["instructors"]
instructor_names = [i["name"] for i in instructors]
print(instructors)
print(instructor_names)

new_list = []
for i in instructors:
  new_list.append(f"{i['name']}'s Profession is {i['profession']}\n")
  # new_list.append(i['name'] + "'s Profession is " + {i['profession']} + "\n")

ages = [f"{i['name']}'s age is {i['age']} years\n" for i in instructors]
professions = [f"{i['name']}'s Profession is {i['profession']}\n" for i in instructors]
tas = instructorsOfProgramming["TAs"]

# print(instructor_names)
# print(tas)

with open("variables.txt", "w") as file:
  file.write("Instructors are "+" and ".join(instructor_names) +"\n")
  file.write("".join(ages))
  file.write("".join(professions))

with open("variables.txt", "r") as f:
    data = f.read()
    # print(data)

[{'name': 'Abir', 'age': 100, 'profession': 'teaching'}, {'name': 'Vinay', 'age': 100, 'profession': 'teaching'}]
['Abir', 'Vinay']

In [ ]:
instructorsOfProgramming

{'instructors': [{'name': 'Abir', 'age': 100, 'profession': 'teaching'},
  {'name': 'Vinay', 'age': 100, 'profession': 'teaching'}],
 'TAs': [{'name': 'Ninad', 'age': 20, 'profession': 'student'},
  {'name': 'Harsha', 'age': 20, 'profession': 'research', 'hobby': 'reading'}]}

In [ ]:
v6 = {"name":"Abir", "age": 100, "profession": "teaching"}
keysList = ["name", "age"]
v6.keys()
### no for loop

dict_keys(['name', 'age', 'profession'])

In [ ]:
instructorsOfProgramming['TAs'][1]['profession']

'research'

In [ ]:
# Introducing the simplest way to print the value of a variable ... and also your introduction to a 'function'!
# A function is a reusable piece of code that can be repeatedly called to perform a specific task
# In the following statements, we are calling, or 'invoking' the 'print' function
# More about 'defining' functions in later modules ... till then we just use them

print(v1, v2, v3, v4, v5, v6)
print(v7, v8, v9, v10, v11, v12)

### Data Types in Python



```
# This is formatted as code
```

Python supports various built-in data types, such as int, float, str, bool, complex, list, tuple, set, and dict.
They can also be classified into the following categories:
- Numeric types, Sequence types, Set types, Mapping types, Boolean types, Binary type and None type

There are also user-defined data types that can be a combination of built-in data types ...
In this exercise we are only interested in the built-in data types

In [ ]:
# Lets print out the 'type' of every variable defined above
print(type(v1), type(v2), type(v3), type(v4), type(v5), type(v6))
print(type(v7), type(v8), type(v9), type(v10), type(v11), type(v12))

NameError: name 'v1' is not defined

More about Variables names or identifiers:
- they are case-sensitive
- Following rules are followed:
  - A variable name must start with a letter or the underscore character
  - A variable name cannot start with a number
  - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
  - Variable names are case-sensitive (age, Age and AGE are three different variables)
  - A variable name cannot be any of the Python keywords.

Python is dynamically typed, so you don't need to specify the data type explicitly.
- It is inferred from the specified value of the variable

In [ ]:
# Let's create some more variables of the simpler data types, with more meaningful identifiers

age         = 25            # An integer variable
height      = 5.11          # A float variable
name        = "Aditi"       # A string variable
is_student  = True          # A boolean variable
complex_num = 3 + 4j        # A complex variable
a_general_variable = "Initialized to string"   # We will change the type of this variable later, to illustrate dynamic typing

In [ ]:
# Informative printing ...
print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is Student:", is_student)
print("Complex Number:", complex_num)
print("A general variable: its value is", a_general_variable, "and its type is:", type(a_general_variable))

Name: Aditi
Age: 25
Height: 5.11
Is Student: True
Complex Number: (3+4j)
A general variable: its value is Initialized to string and its type is: <class 'str'>

### Formatted print

In [ ]:
# A more convenient and concise way to print
# Notice the use of 'f' before the string to be printed ...
# also notice the variable names embedded in the string but enclosed in brace brackets,

print(f"Name: {name}, Age: {age}, Height: {height}, Is Student: {is_student}, Complex Number: {complex_num}")

Name: Aditi, Age: 25, Height: 5.11, Is Student: True, Complex Number: (3+4j)

In [ ]:
# Still better?
print(f" Name: {name}\n Age: {age}\n Height: {height}\n Is Student: {is_student}\n Complex Number: {complex_num}")

 Name: Aditi
 Age: 25
 Height: 5.11
 Is Student: True
 Complex Number: (3+4j)

Some questions:

Q: Using f-strings, is it possible to format the output in a more customized way?

For example, specify the total width, justification, and number of significant digits of a 'float' number

Q: Look up the old style output formatting methods also ... old code in Python would have them

### Variable re-assignment. Such operations may result in changing the variable type

In [ ]:
name = "Ajay"  # Changing the value of the 'name' variable
print("Updated Name:", name)

a_general_variable = 10 # This also results in changing the variable type
print(f"New value of \'General Variable\': {a_general_variable}, and its new type is: {type(a_general_variable)}")

Updated Name: Ajay
New value of 'General Variable': 10, and its new type is: <class 'int'>

In [ ]:
# Q: Is it possible to create variables without assigning any value to them? If so, how? maybe a []
# Q: Is it possible to fix the type of a variable, ie. once defined the type cannot be changed?  by assigning a value to a variable and not re-assigning a different type later on
# Q: Is it possible to define a 'constant'? No, python doesnt have a built-in mechanism to define a constant.
# Q: Is it possible to prevent the value of variable from being changed? That is, make a variable immutable? by assigning it a data type that is inherently immutable, such as an integer, float, string, or tuple

### Type Conversion

In [ ]:
# Conversion functions are available to convert one data type to another.
# Typically, from a string to int, float, etc
# This is required usually while interactively inputting data ... coming up later

a = int("1")
b = float("1.1")
c = str(3)
d = bool(5)
print(a,b,c,d)

1 1.1 3 True

In [ ]:
# In Python everything is an 'object', derived from a 'class'
# We will right now just get used to these terms, and understand how to use objects

# If you are using Jupyter Notebook, type 'a.' followed by TAB to get a list of functions available for 'a'
# In VSC, type 'a.' to get all the operations available on 'a'

### Deleting Variables

In [ ]:
# Python provides a function to 'delete' a variable from the current 'namespace' i.e. memory
i_exist = True
print(i_exist)

True

In [ ]:
del(i_exist)
#print(i_exist)    # at this point the variable does not exist, hence executing this line raises an error

### Multiple assignment

In [ ]:
# Python allows multiple variables to be created /assigned at once
v1, v2, v3 = 1, "two", 3.3
print(v1, v2, v3)

# This method is usually used to return multiple outputs from a 'function'. More on that later ...

In [ ]:
# Operating with variables in Python
# Python allows you to operate with / on variables using various 'operations'
# Expressions can be built using variables and operations
# Let's look at some examples of operations and their types

# In the blocks that follow, print out the value of the variable after each operation to check the result
# If you are clueless about what something like '+=' means, refer the following link
# https://docs.python.org/3/reference/simple_stmts.html#augmented-assignment-statements

# Operations

### Assignment operations

In [ ]:
a = 10  # Assignment
a += 5  # Addition assignment
print(a)
a -= 5  # Subtraction assignment
print(a)
a *= 5  # Multiplication assignment
print(a)
a /= 5  # Division assignment
print(a)
a %= 5  # Modulo assignment
print(a)
a //= 5  # Floor division assignment
print(a)
a **= 5  # Exponentiation assignment
print(a)

15
10
50
10.0
0.0
0.0
0.0

### Arithmetic operations

In [ ]:
a = 10 + 5  # Addition
b = 10 - 5  # Subtraction
c = 10 * 5  # Multiplication
d = 10 / 5  # Division
e = 10 // 5  # Floor Division
f = 10 % 5  # Modulo/Remainder
g = 10 ** 5  # Exponentiation 10^5

### Boolean, or comparison operations

In [ ]:
a = 10 == 5  # Equal to
b = 10 != 5  # Not equal to
c = 10 > 5  # Greater than
d = 10 < 5  # Less than
e = 10 >= 5  # Greater than or equal to
f = 10 <= 5  # Less than or equal to

### Logical operations

In [ ]:
a = True and False  # Logical AND
b = True or False  # Logical OR
c = not True  # Logical NOT

a = 5
b = 6

x = 7
y = 8

# print(a==b)
c =  not (a==b)
d =  (x == y)
print(c or d)

True

### Bitwise operations

In [ ]:
a = 10 & 5  # Bitwise AND
b = 10 | 5  # Bitwise OR
c = 10 ^ 5  # Bitwise XOR
d = ~10  # Bitwise NOT
e = 10 << 2  # Left shift
f = 10 >> 2  # Right shift

In [ ]:
# Q: What is the difference between the x = x + 1 and x += 1 ?

# Basic Input/Output

In [ ]:
# We will now look at the basic methods to handle input / output
# That is, assign values to variables from an external source (e.g. the user using a keyboards)
# and store the value of a variable in an external sink (e.g. a file)

### Read from the terminal

In [ ]:
# Basic input / output in Python

# Values can be interactively assigned using the keyboard while initializing variables
# using the input() function ... Python display the supplied prompt, and waits for a value to be specified

# After you type the following statement, you will find a prompt on the screen, somewhere. Don't get lost!

a_new_variable = input("Enter the value of the new variable: ")
print("The value of the new variable is:", a_new_variable, "and its type is:", type(a_new_variable))

a_new_int = int(input("Enter a whole number: "))
print(f"The value of the whole number is: {a_new_int}, and its type is: {type(a_new_int)}")

Enter the value of the new variable: 34
The value of the new variable is: 34 and its type is: <class 'str'>
Enter a whole number: 67
The value of the whole number is: 67, and its type is: <class 'int'>

In [ ]:
a_new_variable = input("Enter the value of the new variable: ")
print("The value of the new variable is:", a_new_variable, "and its type is:", type(a_new_variable))

Enter the value of the new variable: sdf
The value of the new variable is: sdf and its type is: <class 'str'>

### Write to a file

In [ ]:
# Variable values can be written out into a file using the following code
# Write the variables to a text file

with open("variables.txt", "w") as file:
  file.write(str(age) + "\n")
  file.write(str(height) + "\n")
  file.write(name + "\n")
  file.write(str(is_student) + "\n")

NameError: name 'age' is not defined

In [ ]:
instructorsOfProgramming={"instructors": [{"name":"Abir", "age": 100, "profession": "teaching"},
                                          {"name":"Vinay", "age": 100, "profession": "teaching"}],
                           "TAs": [{"name":"Ninad", "age": 20, "profession": "student"},
                                   {"name":"Harsha", "age": 20, "profession": "research", "hobby": "reading"}] }

with open("instructors.txt", "w") as file:
    file.write("Professors are " + instructorsOfProgramming["instructors"]["name"][0] + "and " + instructorsOfProgramming["instructors"]["name"][1] + "\n")

TypeError: list indices must be integers or slices, not str

In [ ]:
age = 10
height = 5.5
name =  "AD"
is_student = False

with open("variables.txt", "w") as file:
    file.write(str(age) + "\n")
    file.write(str(height) + "\n")
    file.write(name + "\n")
    file.write(str(is_student) + "\n")

In [ ]:
# Define new variable to read their values from the file
#rd_age, rd_height, rd_name, rd_is_student = None, None, None, None

# Read the variables back from the text file
with open("variables.txt", "r") as file:
    rd_age = int(file.readline().strip())
    rd_height = float(file.readline().strip())
    rd_name = file.readline().strip()
    rd_is_student = bool(file.readline().strip())

# Print the variables
print("age =", rd_age)
print("height =", rd_height)
print("name =", rd_name)
print("is_student= ", rd_is_student)

age = 10
height = 5.5
name = AD
is_student=  True

# More on data types

In [ ]:
# we will focus on additional, slightly more complex data types
# We will learn about the following data types: string, list, tuple, set, and dict (dictionary)
# These data types are known as Sequence Types

## str ... strings

In [ ]:
# This is a data type, and it is used to store text. In Python,
#   Strings are enclosed in single or double quotes
#   Strings are immutable, which means that they cannot be changed after they are created
#   Strings are iterable, which means that you can loop over them
#   Strings are indexed, which means that you can access individual characters

# They can be manipulated, concatenated, split, compared, etc. using various operators and functions

# Python documentation on strings is available at: https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str

In [ ]:
# Examples ...

name_1 = "Nagrik Gaowala"
name_2 = 'Nagrik Shaharwala'

citizens = name_1 + " and " + name_2                # Concatenation
print(f"The following are citizens: {citizens}")

str_len = len(citizens)                                 # Length of the string
print(f"The length of the string is: {str_len}")

# Example of string indexing ... Note: Indexing starts at 0
print(f"The first character of the string is: {citizens[0]}")

# Example of string slicing
print(f"The first three characters of the string are: {citizens[0:3]}")

# Example of string slicing from the end
print(f"The last three characters of the string are: {citizens[-3:]}")

The following are citizens: Nagrik Gaowala and Nagrik Shaharwala
The length of the string is: 36
The first character of the string is: N
The first three characters of the string are: Nag
The last three characters of the string are: ala

In [ ]:
a = [1, 1.1, "Abir", "Ninad", "Dipen"]
a[0:3] #[1, 1.1, 'Abir']
a[-1]  # 'Dipen'
a[-3] # 'Abir'
a[-3:-1] # ['Abir', 'Ninad']
a[-3:] # ['Abir', 'Ninad', , 'Dipen']

['Abir', 'Ninad', 'Dipen']

### Built-in functions for strings

In [ ]:
# The following built-in functions of Python can be used on strings
#   len(), str(), format(), strip(), split(), join(), upper(), lower(), replace(), find()
# A list of these built-in functions is available at https://docs.python.org/3/library/functions.html

text = "Hello, World!"
length = len(text)
print(length)  # Output: 13

number = 42
number_str = str(number)
print(number_str)  # Output: "42"

name = "Alia"
age = 25
message = "My name is {} and I am {} years old.".format(name, age)
print(message)  # Output: "My name is Alia and I am 25 years old."

text = "Hello, World!"
lowercase_text = text.lower()
print(lowercase_text)  # Output: "hello, world!"

text = "Hello, World!"
uppercase_text = text.upper()
print(uppercase_text)  # Output: "HELLO, WORLD!"

text = "   Some text   "
stripped_text = text.strip()
print(stripped_text)  # Output: "Some text"

text = "Hello, World!"
words = text.split(", ") # split the string into a list using the delimiters ',' and '<space>
print(words)  # Output: ["Hello", "World!"]

words = ["Hello", "World!"]     # ["Hello", "World!"] is a list, more about lists soon
text = ", ".join(words)
print(text)  # Output: "Hello, World!"

text = "Hello, World!"
new_text = text.replace("Hello", "Hi")
print(new_text)  # Output: "Hi, World!"

text = "Hello, World!"
index = text.find("W") # find the index of the first occurrence
print(index)  # Output: 7

13
42
My name is Alia and I am 25 years old.
hello, world!
HELLO, WORLD!
Some text
['Hello', 'World!']
Hello, World!
Hi, World!
7

In [ ]:
# In addition to the above built-in functions, there are many more functions that can be used on strings
# These functions are defined as member functions of the Class 'str' (We will learn more about 'class' in a later unit)
# and they can be accessed using a dot operator '.' as shown below

text = "Hello, World!"
print(text.upper())  # Output: "HELLO, WORLD!"

# The member functions are too numerous to be enumerated here!
# They are documented at https://docs.python.org/3/library/stdtypes.html#text-sequence-type-str
# Visit this link to review these member functions and try them out here ...

HELLO, WORLD!

In [ ]:
# Q: What is the meaning of the word 'immutable'?
# Q: How will you prove that a Python string, once defined, is immutable?
# Q: If strings are immutable, what will you do if you have to modify a string?
# Q: Is it possible to convert 123 to its English text 'one hundred and twenty three'? And vice-versa?

## Lists

In [ ]:

# Lists are used to store multiple items in a single variable.
# In Python a list is enclosed within square brackets ... [a,b,c,d]
# A list can be mixed.
#   It can contain variables of different data types ... [1, 'hello', True, 3.14, [1,2,3]]

# Python lists are mutable, which means that you can change the elements of the list after it is created
# Lists are iterable, which means that you can loop over them ... as explained later

# Python documentation on lists is available at:
#   https://docs.python.org/3/tutorial/introduction.html#lists
#   https://docs.python.org/3/tutorial/datastructures.html

In [ ]:
# The following built-in functions of Python can be used on lists
#   len(), append(), insert(), remove(), reverse(), sort()
# A list of these built-in functions is available at https://docs.python.org/3/library/functions.html

# Visit the documentation and try the functions by coding examples here ...

In [ ]:
# List ... examples

fruits = ["apple", "banana", "mango"]
print("Printing the entire list:",fruits)

# Individual elements in a list can be accessed using square brackets
# Note: The index starts at 0, and goes up to "the length of the list minus 1"
print("Printing only the first element:",fruits[0])
print("Printing only the last element:", fruits[len(fruits)-1])

# You can also use negative indexes to access elements from the end of the list.
# For example, fruits[-1] will access the last element in the list.
print("Printing the last element using negative indexing:", fruits[-1])

# You can use the `len()` function to get the length of a list.
print("The length of the list is:", len(fruits))

Printing the entire list: ['apple', 'banana', 'mango']
Printing only the first element: apple
Printing only the last element: mango
Printing the last element using negative indexing: mango
The length of the list is: 3

In [ ]:
# As in the case of strings, a number of list member functions (also known as methods) can be used

# list methods are documented at : https://docs.python.org/3/tutorial/datastructures.html#more-on-lists
# This documentation also outlines various uses of the list data type

### Built-in functions for lists

In [ ]:
# Some of the member functions in action ...

# You can use the `append()` method to add elements to the end of a list.
fruits.append("orange")
print("The list after appending 'orange':", fruits)

# You can use the `insert()` method to insert elements into a list at a specific index.
fruits.insert(1, "grapes")
print("The list after inserting 'grapes' at index 1:", fruits)

# You can use the `remove()` method to remove elements from a list.
fruits.remove("banana")
print("The list after removing 'banana':", fruits)

# You can use the `sort()` method to sort the elements in a list.
fruits.sort()
print("The sorted list:", fruits)

# You can use the `reverse()` method to reverse the order of the elements in a list.
fruits.reverse()
print("The reversed list:", fruits)

The list after appending 'orange': ['apple', 'banana', 'mango', 'orange']
The list after inserting 'grapes' at index 1: ['apple', 'grapes', 'banana', 'mango', 'orange']
The list after removing 'banana': ['apple', 'grapes', 'mango', 'orange']
The sorted list: ['apple', 'grapes', 'mango', 'orange']
The reversed list: ['orange', 'mango', 'grapes', 'apple']

# New Section

### List I/O

In [ ]:

# Initialize a list
list_of_numbers = [1, 2, 3, 4, 5]

# Write the list to a file ... note that the file will store the list as binary data
with open("list_of_numbers.txt", "wb") as file:
    file.write(bytes(list_of_numbers))

# Read the list back from the file
with open("list_of_numbers.txt", "rb") as file:
    new_list_of_numbers = file.read()
    new_list_of_numbers = list(new_list_of_numbers)

# Print the list
print("The list of numbers is:", new_list_of_numbers)

The list of numbers is: [1, 2, 3, 4, 5]

In [ ]:
# A list is useful in many ways, starting with its ability to store multiple items in a single variable
# Once a list is created it can be iterated over ... a definite improvement over more traditional for loops
# It can be used to initiaize more complex structures like matrices ... we will do all this soon ...

## tuples

In [ ]:

# In programming, a tuple is used to group related data together
# It is a special kind of list, where the collection has a definite meaning
# For example, a row of an Excel spreadsheet is a tuple
# Example: (name,age,height,weight,gender,city) is a tuple, a 'record', a special list
# Therefore, once a tuple is defined, it cannot be changed

a_tuple = ("Anita", 25, 155, "F", "Mumbai") # This is how a tuple is defined
a_new_tuple = tuple(["Anita", 25, 155, "F", "Mumbai"]) # It can also be created from a list

# Properties of tuples:
#   immutable, which means that they cannot be changed after they are created
#   iterable, which means that you can loop over them, operating on each element
#   indexed, which means that you can access individual elements using square brackets

In [ ]:
# The tuple class is documented at https://docs.python.org/3/library/stdtypes.html#tuples
# A number of sequence operators operate on tuples
# They are documented at: https://docs.python.org/3/library/stdtypes.html#common-sequence-operations
#   these operators are also applicable to lists

## dict

In [ ]:

# A dictionary is a collection of 'key-value' pairs.
# Again, it is a special kind of list, where items are accessible using keys instead of an index
# A dictionary is 'mutable', which means that items in it can be changed
# a dictionary is created by collecting together 'key-value' pairs using braces : {key1: value1, key2: value2, ...}
# and items are accessed using the key as a reference

a_dict = {"name": "Alia", "age": 25, "city": "Mumbai"}
print(a_dict)
print(a_dict["name"])

#print(a_dict[0])  # why does this result in an error?

# Adding a new 'key - value' pair into the dictionary
a_dict["gender"] = "F"
print(a_dict)

# A dictionary is very useful in the following contexts and applications:
#   To create a mapping. Eg. Country -> Capital
#   To store processed data. Eg. word frequency {"and":250, "the":100, "is":50}
#   Configuration settings. Eg. {"host":"localhost", "port":8080}

# All this helps in fast retrieval of data

{'name': 'Alia', 'age': 25, 'city': 'Mumbai'}
Alia
{'name': 'Alia', 'age': 25, 'city': 'Mumbai', 'gender': 'F'}

In [ ]:
# dict class is documented at https://docs.python.org/3/library/stdtypes.html#mapping-types-dict
# It also lists the built-in and member functions of dictionaries

## set

In [ ]:

# A set is a collection of unique items
# Again, it is a special kind of dict, with only 'keys'
# In a set, there can be no repetition of items
# A set is created using braces : {key1, key2, ...}
#   and items are accessed using the index as a reference


a_set = {float(1.000), "two", '3.14', True}
v = list(a_set)
print(v)
# int(v[0])
# print(0.0 in a_set)
# print(3.14 in a_set)
# print(3.15 in a_set)

float(1.000)==True
float(1.000)== int(1)
# A set is useful wherever it is clear that a collection of items is a mathematical 'set'
# and 'set' operations like union, intersection, difference, membership-checks need to be performed
# on the collection
a = float(1.000)
type(a)

[1.0, '3.14', 'two']

float

In [ ]:
# Some quick examples of sets and operations on sets

my_set = {1, 2, 3}  # Using curly braces
my_set = set([1, 2, 3])  # Using the set() constructor

my_set.add(4)  # Adds a single element
my_set.update([5, 6])  # Adds multiple elements. Note the use of a 'list' to add multiple elements
print(my_set)
my_set.remove(3)  # Removes a specific element
print(my_set)
my_set.discard(2)  # Removes a specific element (no error if not present)
print(my_set)
d = my_set.pop()  # Removes and returns an arbitrary element
print(my_set)
# other_set = {3, 4, 5, 6}

my_set = {1, 2, 3}
other_set = {1, 5, 9}
a = my_set.union(other_set)  # Returns a new set with all elements from both sets
print(a)
b = my_set.intersection(other_set)  # Returns a new set with common elements
print(b)
c = my_set.difference(other_set)  # Returns a new set with elements in my_set but not in other_set
d = my_set.symmetric_difference(other_set)  # Returns a new set with elements in either set but not both
print(c)
print(d)

element = 4
element in my_set  # Returns True if element is in the set, False otherwise

len(my_set)  # Returns the number of elements in the set
my_set.clear()  # Removes all elements from the set

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}
{1, 4, 5, 6}
{4, 5, 6}
{1, 2, 3, 5, 9}
{1}
{2, 3}
{2, 3, 5, 9}

In [ ]:
# That's it, in this module
# While we have covered the basic data like strings, numbers, lists, tuples, and dicts
# We need to also understand the basic program structure to really get going with Python
# That will be the goal of the next unit

In [ ]:
# That's it in this unit. More types, built-in functions, and more Python features in the next unit !
# In the meantime, go through the following links to learn more ...
# https://docs.python.org/3.11/tutorial/appetite.html
# https://www.python.org/about/gettingstarted/

# Control Flow in Python

Control flow allows you to dictate the execution of your code based on certain conditions or through loops. In this section, we will cover:

1. Conditional Statements (`if`, `elif`, `else`)
2. Loops (`for` and `while`)
3. Special Keywords (`break`, `continue`, `else` with loops)

## 1. Conditional Statements

Conditional statements allow you to execute code blocks based on certain conditions.

### Syntax:
```python
if condition:
    # Code block executed if condition is True
elif another_condition:
    # Code block executed if another_condition is True
else:
    # Code block executed if none of the above conditions are True

In [ ]:
# Example: Check if a number is positive, negative, or zero
number = 5#int(input("Enter a number: "))

if number == 6:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is zero.

In [ ]:
if number == 6:
    a = 3
else:
    a = 0

a =  3 if number  == 6 else 0

In [ ]:
a

0

## 2. Loops

Loops allow you to execute a block of code repeatedly.


### `for` Loop
A `for` loop iterates over a sequence (like a list, string, or range).

### Example:
Iterate through a list of numbers.

In [ ]:
# Example: Using a for loop to iterate through a list

numbers = [1, 2, 3, 4, 5]
# The following code loops over all elements in numbers.

num = 6
for num in numbers:
    print(f"Current number: {num}")


# Same functionality can be achieved by using range() iterator as follows:
# for num in range(1, 6):
#     print(f"Current number: {num}")

# Where the convention of range(start_index, stop_index, step),
# with default value of start_index=0 and
# with default value of step=1 and returns the sequence
# [start_index, start_index + 1, ..., stop_index - 1)]

Current number: 1
Current number: 2
Current number: 3
Current number: 4
Current number: 5

In [ ]:
# We can iterate over arbitrary objects, such as

import time as time

start = time.time()
for letter in 'a random string':
  print(letter)

print(time.time()-start)


# start = time.time()
sl =  list('a random string')
print(sl)

print(time.time()-start)

a

r
a
n
d
o
m

s
t
r
i
n
g
0.0054357051849365234
['a', ' ', 'r', 'a', 'n', 'd', 'o', 'm', ' ', 's', 't', 'r', 'i', 'n', 'g']
0.00016546249389648438

In [ ]:
# But beware of the following:
# The following loop is iterating over a list which is very different
# from iterating over a string

for letter in ['a random string']:
  print(letter)

a random string

### `while` Loop
A `while` loop executes as long as the condition is `True`.

### Example:
Print numbers from 1 to 5 using a `while` loop.

In [ ]:
# Example: Using a while loop
# While loop is generally used when it is not known
# apriori how many times the loop will run.
# The while loop exits whenever the end condition is met

count = 1
while count <= 5:
    print(f"Count is: {count}")
    count += 1

Count is: 1
Count is: 2
Count is: 3
Count is: 4
Count is: 5

## 3. Special Keywords

Python provides special keywords for additional control within loops.

- `break` :Used to exit a loop immediately.

- `continue` :Skips the current iteration and moves to the next.

- `else` with Loops: : The `else` block in a loop executes only if the loop completes without a `break`.

In [ ]:
# Example: Using break and continue

# The break statement defines an exit point from the loop which may be
# different from the main condition of the loop
# In the following example, the execution comes out of the loop at num=5
# even though the loop is supposed to execute till 10

for num in range(1, 10):
    if num == 5:
        print("Breaking the loop at 5.")
        break  # Exit the loop when num is 5
    elif num % 2 == 0:
        print(f"Skipping even number: {num}")
        continue  # Skip even numbers
    print(f"Current number: {num}")


# continue: Whenever the continue statement is executed, the control returns to
#   the starting point of the loop skipping all the lines following the continue
#   statement

Current number: 1
Skipping even number: 2
Current number: 3
Skipping even number: 4
Breaking the loop at 5.

### Example: `else` with Loops
Let's see how the `else` block works with loops.

If no `break` occurs, the `else` block will execute.

In [ ]:
# Example: Using else with loops
for num in range(1, 6):
    print(f"Checking number: {num}")
    if num == 10:
        print("Found 10!")
        break
else:
    print("The loop completed without finding 10.")

Checking number: 1
Checking number: 2
Checking number: 3
Checking number: 4
Checking number: 5
The loop completed without finding 10.

# Functions in Python


Functions are reusable blocks of code that perform a specific task. They help organize code, avoid repetition, and improve readability.

## Why Use Functions?
1. **Modularity**: Break tasks into smaller, manageable pieces.
2. **Reusability**: Avoid repeating code.
3. **Readability**: Make your code easier to understand.

In this section, we'll cover:
1. Defining and Calling Functions
2. Function Parameters and Return Values
3. Default and Keyword Arguments
4. Variable Scope
5. Practical Examples

## 1. Defining and Calling Functions

The basic syntax for defining a function is:

```python
def function_name(parameters):
    # Code block
    return value
```

In [ ]:
# Function to check if a number is even or odd
## numc is local to function
def check_even_odd(numc):
    numc = 3
    if numc % 2 == 0:
        return f"{numc} is even."
    else:
        return f"{numc} is odd."

# Calling the function
print(check_even_odd(10))
print(check_even_odd(7))


# ii is NOT local to for loop
for ii in range(10):
  print(ii)

3 is odd.
3 is odd.
0
1
2
3
4
5
6
7
8
9

In [ ]:
def func(x):
  a = 0
  b = 1
  if x == 1:
    return
    a = b+func(x-1)
    return b

a  = func(3)
print(a)

None

## 2. Function Parameters and Return Values

Functions can take multiple parameters and return values.

In [ ]:
# Function to calculate the area of a rectangle
def calculate_area(length, width):
    area = length * width
    surface = {'len': length, 'wid': width, 'area': area}
    # yy = (surface, length, width, area)
    return  surface, length, width, area

# Calling the function with different arguments
print(calculate_area(5, 10))
print(calculate_area(7.5, 3))

x = calculate_area(5,10)
print(x)

({'len': 5, 'wid': 10, 'area': 50}, 5, 10, 50)
({'len': 7.5, 'wid': 3, 'area': 22.5}, 7.5, 3, 22.5)
({'len': 5, 'wid': 10, 'area': 50}, 5, 10, 50)

({'len': 5, 'wid': 10, 'area': 50}, 5, 10, 50)

## 3. Default and Keyword Arguments

- **Default arguments** allow you to specify default values for parameters.
- **Keyword arguments** let you explicitly name parameters when calling a function.

In [ ]:
# Function to calculate the final price after a discount
def calculate_price(price, discount=10):
    """
    Calculate the final price after applying a discount.
    price: Original price of the product.
    discount: Percentage discount (default: 10%).
    """
    final_price = price - (price * discount / 100)
    return f"The final price is ${final_price:.2f}"

# Using default discount
print(calculate_price(100))

# Overriding the default discount
print(calculate_price(100, discount=20))

# Using keyword arguments
print(calculate_price(price=250, discount=15))

The final price is $90.00
The final price is $80.00
The final price is $212.50

## 4. Variable Scope

Scope refers to the accessibility of variables within a program:
- **Local Scope**: Variables defined inside a function.
- **Global Scope**: Variables defined outside any function.

In [ ]:
# Global variable
message = "Global Scope"

def greet():
    # Local variable
    message = "Local Scope"
    print("Inside function:", message)

# Calling the function
greet()
print("Outside function:", message)

Inside function: Local Scope
Outside function: Global Scope

## 5. Practical Examples

Let's apply functions to real-world scenarios.

In [ ]:
# Function to check if a string is a palindrome
def is_palindrome(string):
    string = string.lower().replace(" ", "")  # Normalize the string
    return string == string[::-1]

# Test cases
print(is_palindrome("racecar"))  # True
print(is_palindrome("hello"))    # False
print(is_palindrome("A man a plan a canal Panama"))  # True

True
False
True

In [ ]:
# Function to generate Fibonacci sequence
def fibonacci(n):
    sequence = [0, 1]
    for _ in range(2, n):
        sequence.append(sequence[-1] + sequence[-2])
    return sequence[:n]

# Generate the first 10 Fibonacci numbers
print(fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# generate all combinations from [0,1,..,n] when n is the input